*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    

}
.main-container{
    width: 100%;
    height: auto;
    text-align: center;

}
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}
nav h6{
    width: 20px;
    font-size:2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 350%;

}
nav img{
    width: 40px;
    height: auto;




}
nav ul{
    width: 60%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-size: 26px;

}
nav ul li{
    list-style: none;

}
hr{
    width: auto;
    height: fit-content;
    border-color: brown;
    border-width: 25px;
    border-radius: 26px;

}
.right-nav{
    width: 15%;
    display: flex;
    justify-content: end;

}
.right-nav button:first-child{
    width:100px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 2%;

}
.right-nav button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: azure;
}
.head-section p{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 25px;
    color: rgb(0, 0, 0);

}
.num-section h6{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    padding-top: 1%;
}
.word-section p{
    color: rgb(122, 115, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 .btn-section{ 
    width: 100%;
    height: auto;
    margin-block: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .btn-section button{
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(248, 240, 255);
    color: black;
    border-color: rgb(160, 31, 31);
    border-radius: 10px;
    margin-right: 2%;
    /* border: none; */
 }
 .btn-section button:first-child{
    width: 120px;
    height: 50px;
    border: none;
    background-color: rgb(101, 121, 156);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
 } 
.card-section{
    width: 100%;
    height: auto;
    padding: 30px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    /* align-items: center; */
 
}

.card{
    width: 20%;
    height:auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    border: red 25px;
    color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 3px rgb(141, 136, 136);
  
}
.card p{
    font-size: 15px;
    color: rgb(232, 188, 255);
    text-align: center;
 }
.card h6{
    font-size: 22px;
    margin-block: 15px;

}
.icon-box{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 228, 228);
}
.icon-box img{
    width: 20%;
    }
 @media (max-width:768) {
    
 } 





